/* CORPS DU DOCUMENT */
body {
    justify-content: center;
    background-color: #1a1a1a;
    margin: 0% 10% 0% 10%;
    height: 100%;

}


/* TITRES DES CATEGORIES */
h1,p, a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.highlighted-title {
    position: relative;
    letter-spacing: 2px;
    display: inline-block;
}
  
  .highlighted-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #720000;
    z-index: -1;
  }


/* BARRE DE NAVIGATION */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: auto;
    max-height: 100px;
    height: auto;
    background-color: black;
}

.trailerz-logo, .movies-tabs, .research-area, .personnal-tabs {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailerz-logo img {
    max-width: 100%;
    height: fit-content;
    min-width: 90px;
    min-height: 45px;
    object-fit: contain;
    display: block;
}

.movies-tabs, .personnal-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.movies-tabs ul, .personnal-tabs ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.movies-tabs a, .personnal-tabs a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

.movies-tabs a:hover, .personnal-tabs a:hover {
    text-decoration: underline;
}

.research-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.research-area input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.research-area button {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.research-area button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: invert(1);
}

#top-tendances img {
    display: block;
    width: 100%;
    height: auto;
}


.separator {
    width: 40%;
    height: 25px;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto 0;
}


/* CAROUSSELS DE FILMS */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.movie {
    flex: 0 0 calc(33.333% - 10px);
    margin-right: 5px;
    margin-left: 5px;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie:last-child {
    margin: 0 0 0 0;
}

.movie img {
    display: block;
    width: 100%;
    height: auto;
}

.movie:hover {
    transform: scale(1.1);
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 10;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-container:hover .button {
    visibility: visible;
}

.button {
    visibility: hidden;
}


/* FOOTER */
.footer {
    background-color: #720000;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 30px 30px 0 0;
    width: fit-content;
    height:min-content;
    margin: 50px auto auto;

  }
  
.footer-container {
    margin: 0 auto;
}
  
.footer-links {
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.footer-links a {
    color: white;
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-size: 2rem;
}
  
.footer-links a:hover {
    text-decoration: underline;
}
  
.footer-container p {
    font-size: 2rem;
    margin: auto;
}
  
.footer-container img {
    width: 40%;
}